[submodule "client"]
	path = client
	url = git@github.com:sglee487/snclient.git
	branch = main
[submodule "server"]
	path = server
	url = git@github.com:sglee487/snserver.git
	branch = master
[submodule "snkeycloak"]
	path = snkeycloak
	url = git@github.com:sglee487/snkeycloak.git
	branch = main
[submodule "snservice-cloud-stack"]
	path = snservice-cloud-stack
	url = git@github.com:sglee487/snservice-cloud-stack.git
