[submodule "client"]
	path = client
	url = git@github.com:sglee487/snclient.git
[submodule "server"]
	path = server
	url = git@github.com:sglee487/snserver.git
[submodule "snkeycloak"]
	path = snkeycloak
	url = git@github.com:sglee487/snkeycloak.git
